button{
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(18, 156, 18);
    font-size: 19px;
    font-weight: 600;
    font-weight: bolder;
}

.image{
    width: 300px;
    height: 300px;
}
.cancel{
    background-color: transparent;
    top: -307px;
    position: relative;
    margin-left: -89px;
    cursor: pointer;
}
#cal{
    margin-top: -30px;
    margin-left: 50px;
}
.plus{
    margin-left: 0px;
    top: -10px;
    position: relative;

}
.right{
    margin-left: 190px;
    top: -60px;
    position: relative;
}
.content{
   
    margin-top: -222px;
    margin-left: 374px;
    position: absolute;
}