:root{
    --green:#27ae60;
    --black:#192a56;
    --light-colour:#666;
    --box-shdow:0 .5rem 1.5rem rgba(0,0,0,0.1);

    
}
header{
  position: sticky;
  top: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
  *{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
  }
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
  }
  .navbar{
    top: 14px;
    position: relative;
    margin-left: 16px;
    left: -178px;
}
  .add{
    position: relative;
    left: 210px;
  }
header{
  position: fixed;
  top: 0;left: 0;right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shdow);
}
.logo i{
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  border: none;

}

#img-2{
  
  width: 48px;
   position: absolute;
   margin-top: -17px;
   border-radius: 58%;
   height: 60%;
  left: 36%;
 
 }
#seek{
  color: #27ae60;
}
.navbar a{
  font-size: 1.7rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  color: var(--light-colour);

}

.navbar a.active,
.navbar a:hover{
  color: #fff;
  background: var(--green);
}
.icons i,

.icons a{
  cursor: pointer;
  margin-left: .5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

.icons i:hover
.icons a:hover{
color: #fff;
background: var(--green);
transform: rotate(360geg);
}
.icons #menu-bars{
  display: none;


}
@media(max-width:991px){
  
html{
  font-size:55%;

}
header{
  padding: 1rem 2rem;
}
}
@media(max-width:768px){
  .icons #menu-bars{
    display: inline-block;
  }
  .navbar{
    position: absolute;
    top: 100%;left: 0;right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0,0,0,0.2);   
    border-bottom: .1rem solid rgba(0,0,0,0.2); 
    
    padding: 1rem;
    clip-path: polygon(0 0,100% 0 100% 0, 0 0 );

  }
  .navbar.active{
    clip-path:polygon(0 0,100% 0,100% 100%,0% 100%) ;
  }
  .navbar a{
    display: block;
    padding: 1.5rem;
    margin: 1rem ;
    font-size: 2rem;
    background:#eee ;
  }
  .add{
    margin-left: 490px;
  }
}

@media(max-width:991px){
  
  html{
    font-size:50%;
  
  }
  
  
  }
.logo{
  font-size: xx-large;
  font-weight: bolder;
}
div .add{
  margin-left: 509px;
  margin-top: -34px;
  color: slategrey;
  position: relative;
  font-size: 14px;
}
div .dis{
  width: 56px;
    color: sandybrown;
    font-size: -21px;
    margin-left: -46px;
    margin-top: -28px;
}
.diss{
  position: absolute;
  margin-top: -10px;
  margin-left: 12px;
}


