.common_section {
    background: linear-gradient(#212245b2, #212245b2), url('C:\Users\admin\react-newone\src\component\New folder\log.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
}
.text-white{
    font-weight: bolder;
    margin-left: 559px;
    font-size: 44px;
    color: violet
}